*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    padding: 10px 20px;
    display: flex;
    width: 100%;
}

.nav h1{
    color: lightcoral;
    font-size: 3rem;
    width: fit-content;
}

.nav h1 span{
    color: white;
}
.nav ul{
    margin-left: auto;
    
}

.nav ul li{
    display: flex;
    align-items: center;
    margin: 20px;
}

.nav ul li a:hover{
    color: lightcoral;
}

ul{
    list-style: none;
    display: flex;
    
}

.plx{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.plx1{
    background-image: url("../images/img1.jpg");
    min-height: 100vh;
    color: white;
}

.plx2{
    background-image: url("../images/img3.jpg");
    min-height: 500px;
    color: white;
}

.plx1::before, .plx2::before, .plx3::before{
    content: "";
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.plx3{
    background-image: url("../images/img2.jpg");
    min-height: 400px;
    color: white;
    clip-path: none;
}

.cnt-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    
    height: 100%; 
    position: absolute;

    /* top: 50%; */
    width: 100%;
    text-align: center;
    padding: 20px;
    
}

.cnt-txt h1{
    margin-bottom: 20px;
    font-size: 5rem;
}

.cnt-txt h1 span{
    color: lightcoral;
}

.cnt-txt p{
    font-size: 1.3rem;
    letter-spacing: 10px;
    color: lightcoral;
    font-weight: bold;
    margin: 30px auto;
}

.cta{
    position: relative;
    width: fit-content;
    font-weight: bold;
    align-self: center;
    padding: 20px 40px;
    background: none;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 1rem;
    border: 2px solid white;
    transition: 0.4s all ease-in-out;
    overflow: hidden;
    z-index: 0;
}

a{
    text-decoration: none;
    color: white;
    z-index: 0;
    transition: all 0.4s ease-in-out;
    width: fit-content;
    margin: 0 auto;
    
}

.cta::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: azure;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.4s all ease-in-out;
    z-index: -1;
}

.cta:hover{
    cursor: pointer;
    color: black;
}

.cta:hover a{
    cursor: pointer;
    color: black;
}

.cta:hover::before{
    transform: scaleX(1);
}

section{
    padding: 80px 40px;
    width: 100%;
    overflow: hidden;
    
}

section h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: lightcoral;
}

hr{
    height: 5px;
    position: absolute;
    background: lightcoral;
    border: none;
    outline: none;
    width: 98%;
    left: 2%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    
}

.grid ul li::before{
    content: "$    ";
    color: lightcoral;
    font-weight: bold;
    transition: all 0.3s ease;
}

.grid ul li{
    margin: 10px 0px;
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

.grid ul li:hover{
    cursor: context-menu;
    color: lightcoral;
}



.pp img{
    width: 100%;
}

.cta-black{
    width: 100%;
    margin: 10px 0;
    color: lightcoral;
    border: 2px solid lightcoral;
}

.cta-black::before{
    background-color: lightcoral;
}

@media only screen and (max-width: 540px){
    .plx h1{
        font-size: 3rem;
    }
    .plx p{
        font-size: 1rem;
        letter-spacing: 8px;
    }
    .cta{
        width: auto;
        font-size: 0.9rem;
        padding: 10px 20px;
        letter-spacing: 5px;
    }

}